
html {
  text-align: center;
}

body {
  font-family: 'Exo', sans-serif;
  line-height: 1.5;
}

h2, h3, p {
  font-family: 'Exo', sans-serif;
}

.dashed {
  width: 20%;
  border-top: 3px dashed #bbb;
}

.btn {
  font-family: 'Exo', sans-serif;
}

/* Navigation Bar */

.navbar-brand {
  width: 120px;
}

.nav-links {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-left: 100px;
}

.nav-link {
  margin: 0 10px;
  font-family: 'Exo', sans-serif;
  letter-spacing: 2px;
}

.home-link {
  text-decoration: underline;
}

/* Home Section */

.covid-banner {
  text-align: center;
  background-color: #eee8aa;
  padding-top: 100px;
}

.covid-banner-text {
  margin-bottom: 0;
}

.home-img {
  width: 100%;
}

/* Home About */

.call-to-action {
  padding-top: 1rem;
  text-align: center;
}

.home-about-section {
  text-align: center;
  padding: 20px 0;
  width: 30%;
  margin: auto;
}

.profile-pic {
  width: 50%;
  margin: auto;
}

.home-about-text {
  padding-top: 20px;
}

/* Testimonials Section */

#testimonials-section {
  text-align: center;
  padding: 1rem 0 0 0;
  font-family: 'Exo', sans-serif;
  background-color: #72A3B3;
}

.testimonials-head {
  margin: 1rem 0 1rem 0;
}

.testimonials-line {
  width: 100px;
  border-color: #4d3e3e;
}

.quote {
  font-style: italic;
  width: 75%;
  margin: auto;
  padding: 1rem;
}

.carousel-img {
  width: 200px;
  height: 200px;
  padding: 1rem;
}

.carousel.inner {
  text-align: center;
}

.testimonials-icons {
  padding-bottom: 1rem;
}

/* Instagram Section */

.insta-section {
  background-color: #d3d3d3;
  text-align: center;
  padding-bottom: 1rem;
}

.insta-icon {
  padding: 1rem 0 0 0;
}

.insta-img {
  width: 200px;
  height: 200px;
  padding: 10px;
}


/* Footer */

.footer {
  background-color: #232B38;
}

.footer-display {
  text-align: center;
  padding: 20px 0 10px 0;
}

.newsletter-text {
  color: #fff;
  padding-top: 10px;
}

.form-group {
  width: 260px;
  margin: auto;
}

.form-control {
  text-align: center;
}

.social-icons {
  padding: 10px;
}

.footer-text {
  color: grey;
  font-weight: bold;
  padding-top: 10px;
}


/* Pages */

.page-body {
  padding-top: 100px;
  text-align: center;
  width: 75%;
  margin: auto;
}

.page-text {
  padding: 1rem 0;
}

/* Event Hire Page */

.form-dates {
  width: 150px;
  border-width: thin;
}

/* Contact Page */

.fab-icons {
  color: #E91E63;
}

.fas {
  padding-bottom: 1rem;
}

.contact-footer {
  padding-top: 0;
}

/* Menu Page */

.product-buttons {
  padding: 1rem 0;
}

.cakes {
  padding-top: 1rem;
}

.drinks-btn {
  width: 300px;
  height: 300px;
  background-image: url("../Images/Drinks.PNG");
  background-size: 100%;
  border: none;
  color: black;
}

.cakes-btn {
  width: 300px;
  height: 300px;
  background-image: url("../Images/Cakes.PNG");
  background-size: 100%;
  border: none;
}

.drinks-title {
  font-weight: bolder;
}

.cakes-title {
  font-weight: bolder;
  color: #fff;
}


/* Blog Page */

.blog-posts {
  text-align: left;
}

/* Responsiveness */


@media (max-width: 768px) {
  .home-about-section {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .covid-banner-text {
    font-size: 10px;
  }

  .drinks-btn {
    width: 200px;
    height: 200px;
  }
  .cakes-btn {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 375px) {
  .covid-banner-responsive {
    width: 80%;
    margin: auto;
  }

.testimonials-text {
  width: 80%;
  margin: auto;
}

}
